- name: Desplegar Cluster Web (Compatible AWX 17)
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    # Script que se ejecuta dentro de la máquina al nacer
    mi_userdata: |
      #!/bin/sh
      echo "Hola Mundo" > /tmp/inicio.txt
      while true; do echo -e "HTTP/1.1 200 OK\n\n Hola soy el servidor $(hostname)" | nc -l -p 80; done &

  tasks:
    # 1. Crear Grupo de Seguridad (Módulo clásico)
    - name: Crear firewall web
      os_security_group:
        cloud: becario
        state: present
        name: reglas-web
        description: "Permitir HTTP"

    - name: Abrir puerto 80
      os_security_group_rule:
        cloud: becario
        security_group: reglas-web
        protocol: tcp
        port_range_min: 80
        port_range_max: 80
        remote_ip_prefix: 0.0.0.0/0

    # 2. Lanzar Servidor 1
    - name: Crear Web-01
      os_server:
        cloud: becario
        state: present
        name: Web-01
        image: cirros-0.6.2
        flavor: m1.nano
        network: Red-Becarios
        security_groups: reglas-web
        key_name: llave-becario
        userdata: "{{ mi_userdata }}"
        auto_ip: yes
        wait: yes
        timeout: 200
      register: web01

    # 3. Lanzar Servidor 2
    - name: Crear Web-02
      os_server:
        cloud: becario
        state: present
        name: Web-02
        image: cirros-0.6.2
        flavor: m1.nano
        network: Red-Becarios
        security_groups: reglas-web
        key_name: llave-becario
        userdata: "{{ mi_userdata }}"
        auto_ip: yes
        wait: yes
        timeout: 200
      register: web02

    # 4. Mostrar Resultados
    - debug:
        msg: 
          - "¡CLUSTER DESPLEGADO!"
          - "Web-01: http://{{ web01.server.accessIPv4 }}"
          - "Web-02: http://{{ web02.server.accessIPv4 }}"
