- name: Ejercicio 19 - Fase de Descubrimiento (Discovery - Modo Diagnóstico)
  hosts: migrator
  gather_facts: no
  collections:
    - community.vmware

  tasks:
    - name: Conectar al vCenter y buscar VMs
      community.vmware.vmware_vm_info:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        port: "{{ vcenter_port }}"
        validate_certs: "{{ vcenter_validate_certs }}"
      register: vm_info

    - name: ¡MÁQUINAS ENCONTRADAS! (Ver datos brutos)
      debug:
        # Imprimimos solo la primera máquina para no llenar la pantalla
        var: vm_info.virtual_machines[0]
